@use 'base/mixins'as m;
@use 'base/variables'as v;

.boletos {
    padding: 5rem 0;

    h3 {
        text-align: center;
        color: white;
    }
}


.contenedor-boletos {
    @include m.desktop {
        @include m.grid(2, 5rem);

    }


}

.pase {

    p {
        text-align: center;
        color: white;
        font-size: 3rem;
    }

    .pase-header {
        background-color: v.$rosa;
        padding: 2rem 0;
        text-align: center;
        color: v.$blanco;
        font-size: 2rem;
        text-transform: uppercase;

    }

    .pase-body {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            padding: 2rem 1rem;
            background-color: v.$blanco;
            font-weight: 500;
            border-bottom: 1px solid rgb(226, 226, 226);


        }

        li:last-child {
            border-bottom: none;
        }
    }

    .pase-footer {
        text-align: center;
        font-size: 3rem;
        padding: 1.6rem 0;
        background-color: v.$morado;
        color: v.$blanco;



    }

}