@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
    background-color: v.$rosa;
    padding-top: 2rem;
    text-align: center;
    font-weight: 700;
    color: v.$blanco;


    p{
        margin: 0;
        font-weight: 700;
        color: v.$blanco;
    }
}

